* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: black;
}

.app-container {
  max-width: 80%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -----------------------------------Header--------------------------------- */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.header-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.header-nav * {
  margin: 0.25em;
}

.header-links {
  padding-left: 0.25em;
  padding-right: 0.25em;
  transition: all 0.5s;
}

.header-links:hover:not(.selected) {
  background-color: aquamarine;
  border-radius: 0.3em;
  box-shadow: 0.2em 0.2em black;
}

@media screen and (min-width: 768px) {
  .header-nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}

/*---------------------------------- Main content--------------------- */

.content {
  width: 90%;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-footer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*------------------ Store */

.items {
  display: flex;
  flex-direction: column;
}

.itemCard {
  background-color: aquamarine;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  transition: all 0.5s;
}

.itemCard * {
  margin: 0.25em;
}

.itemCard:hover {
  cursor: pointer;
  background-color: rgb(41, 204, 150);
  box-shadow: 1em 1em black;
  transform: scale(1.05);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.emoji {
  font-size: 4rem;
}

.button {
  background-color: aquamarine;
  border: none;
  border-radius: 0.5em;
  padding: 0.3em;
  color: black;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0.25em 0.25em black;
}

/* -------------------------React Router Specific------------------- */
.selected {
  background-color: aquamarine;
  border-radius: 0.3em;
  box-shadow: 0.2em 0.2em black;
}

@media screen and (min-width: 768px) {
  .items {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .itemCard {
    width: 12em;
    height: 12em;
  }
}
